{% extends "_base.html" %}

{% block content %}

<section>
        <h1 class="p-4 text-4xl text-gray-900">About</h1>
        <p class="px-4 py-2 text-gray-900">Supervisor is a modern scheduler platform desgined to facilitate a scheduler's life.</p>
        <h1 class="p-4 text-3xl text-gray-900">How it Works</h1>
        <p class="px-4 py-2 text-gray-900">insert relevant text here.</p>
        <h1 class="p-4 text-3xl text-gray-900">Features</h1>
        <p class="px-4 py-2 text-gray-900">insert relevant text here.</p>
        <h1 class="p-4 text-3xl text-gray-900">The Team</h1>
        <h1 class="p-4 text-xl text-gray-900">Muhammad Wasif Kamran</h1>
        <p class="px-4 text-gray-900">Backend Developer and Project Manager</p>
        <h1 class="p-4 text-xl text-gray-900">Karan Chawla Dora</h1>
        <p class="px-4 text-gray-900">Full Stack Developer</p>
        <h1 class="p-4 text-xl text-gray-900">Eric Sui</h1>
        <p class="px-4 text-gray-900">Full Stack Developer</p>
      </section>

{% endblock content %}