{% extends "_base.html" %}

{% block content %}

<section>
        <h1 class="p-4 text-4xl text-gray-900">About</h1>
        <p class="px-4 py-2 text-gray-900">Supervisor is a modern scheduler platform desgined to facilitate a scheduler's life.</p>
        <h1 class="p-4 text-3xl text-gray-900">Contact</h1>
        <pre class="px-4 py-2 text-gray-900">contact@thesupervisor.ca</pre>
        <pre class="px-4 py-2 text-gray-900">kchaw1@ocdsb.ca</pre>
        <pre class="px-4 py-2 text-gray-900">esui1@ocdsb.ca</pre>
        <pre class="px-4 py-2 text-gray-900">mkamr4@ocdsb.ca</pre>

        <h1 class="p-4 text-3xl text-gray-900">How it Works / Features</h1>
        <p class="px-4 py-2 text-gray-900">Supervisor is an online scheduling platform. To create new schedules or view previous ones, go to the "generate" page. You'll be led to the scheduling hub. This page includes a button for creating a new schedule, as well as any previously made schedules. To create a new schedule, click the Generate button. Following that, a popup will appear asking for the name, school, city, and country of your chosen schedule. Then you'll be led to the "Teacher Data" page. This page requires you to enter all of the teachers that need to be scheduled, including their name, contract (what percentage of total days they have to work), schedule (what feasible periods they can supervise), and email address. From there, you'll be taken to the restriction filters page, where you can set any limitations on specific teachers. Finally, after submitting, you will be taken to a calendar view of the generated schedule, as well as a CSV file for any additional changes.</p>
        <h1 class="p-4 text-3xl text-gray-900">The Team</h1>
        <h1 class="p-4 text-xl text-gray-900">Muhammad Wasif Kamran</h1>
        <p class="px-4 text-gray-900">Backend Developer and Project Manager</p>
        <h1 class="p-4 text-xl text-gray-900">Karan Chawla Dora</h1>
        <p class="px-4 text-gray-900">Full Stack Developer</p>
        <h1 class="p-4 text-xl text-gray-900">Eric Sui</h1>
        <p class="px-4 text-gray-900">Full Stack Developer</p>
      </section>

{% endblock content %}