{% extends "_base.html" %} {% block content %}

<section
  class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
>
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
  >
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Teacher Data
    </h1>
  </div>
</section>
<div class="flex items-center justify-center py-2">
  <button
    class="group relative me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-cyan-500 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-cyan-200 group-hover:from-cyan-500 group-hover:to-blue-500 dark:text-white dark:focus:ring-cyan-800"
  >
    <span
      class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >Import CSV</span
    >
  </button>
  <button
    class="group relative me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-cyan-500 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-cyan-200 group-hover:from-cyan-500 group-hover:to-blue-500 dark:text-white dark:focus:ring-cyan-800"
  >
    <span
      class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >Import PDF Schedules</span
    >
  </button>
  <button
    class="group relative me-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-cyan-500 to-blue-500 p-0.5 text-sm font-medium text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-cyan-200 group-hover:from-cyan-500 group-hover:to-blue-500 dark:text-white dark:focus:ring-cyan-800"
  >
    <span
      class="relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in group-hover:bg-opacity-0 dark:bg-gray-900"
      >Load Old Information</span
    >
  </button>
  <button
    type="button"
    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2"
  >
    Submit
  </button>
</div>
<div class="relative flex flex-col items-center overflow-x-auto sm:rounded-lg">
  <table
    class="w-10/12 table-auto text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
  >
    <thead
      class="border-separate border-spacing-2 bg-blue-300 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="border border-slate-300 py-6 text-center">
          Teacher Name
        </th>
        <th scope="col" class="border border-slate-300 py-6 text-center">
          Contract
        </th>
        <th scope="col" class="border border-slate-300 py-6 text-center">
          Schedule
        </th>
        <th scope="col" class="border border-slate-300 py-6 text-center">
          ...
        </th>
        <th scope="col" class="border border-slate-300 px-3.5 py-5 text-right">
          <button
            data-modal-target="crud-modal"
            data-modal-toggle="crud-modal"
            type="button"
            class="text-xs uppercase text-black hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
          >
            Add Teacher
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="border-b bg-blue-100 text-center dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
        >
          John Doe
        </th>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4 text-right">
          <div
            class="flex items-center justify-end font-medium text-blue-600 dark:text-blue-500"
          >
            <a href="#" class="hover:underline">Edit</a>
            <span>/</span>
            <a href="#" class="hover:underline">Delete</a>
          </div>
        </td>
      </tr>
      <tr
        class="border-b bg-blue-50 text-center dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
        >
          John Doe
        </th>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4 text-right">
          <div
            class="flex items-center justify-end font-medium text-blue-600 dark:text-blue-500"
          >
            <a href="#" class="hover:underline">Edit</a>
            <span>/</span>
            <a href="#" class="hover:underline">Delete</a>
          </div>
        </td>
      </tr>
      <tr
        class="bg-blue-100 text-center dark:bg-gray-800 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
        >
          John Doe
        </th>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4">...</td>
        <td class="px-6 py-4 text-right">
          <div
            class="flex items-center justify-end font-medium text-blue-600 dark:text-blue-500"
          >
            <a href="#" class="hover:underline">Edit</a>
            <span>/</span>
            <a href="#" class="hover:underline">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Add New Teacher
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2 sm:col-span-1">
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                            <input type="text" name="fname" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Justin" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                                <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                                <input type="text" name="lname" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Oh" required="">
                            </div>
                            <div class="col-span-2">
                                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contract</label>
                                <input id="description" type="text"  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0.33"></input>                    
                            </div>
                        <div class="col-span-2">
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teacher Description</label>
                            <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write teacher description here"></textarea>                    
                        </div>
                    </div>
                    <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Add new teacher
                    </button>
                </form>
            </div>
        </div>
    </div> 

{% endblock content %}
