@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
        font-family: 'Mona Sans';
        src: url('fonts/MonaSans-Regular.woff2') format('woff2');
}

@font-face {
        font-family: 'Mona Sans Ebold';
        src: url('fonts/MonaSans-ExtraBold.woff2') format('woff2');
}

@font-face {
        font-family: 'Mona Sans Medium Narrow';
        src: url('fonts/MonaSansCondensed-ExtraLight.woff2')
}